services:
  postgres:
    image: postgres:17

    container_name: task22-postgres

    environment:
      POSTGRES_DB: task22
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

    ports:
      - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
